name: Rust Tests

on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-20.04]
        rust: [stable]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}

      - name: Install dependencies on Ubuntu
        if: matrix.os == 'ubuntu-20.04'
        run: sudo apt-get update && sudo apt-get install -y libgtk-3-dev libxdo-dev libappindicator3-dev

      - name: Build ${{ matrix.os }}
        working-directory: ./windSend-rs
        run: cargo build --verbose

      - name: Run clippy
        working-directory: ./windSend-rs
        run: cargo clippy --verbose

      - name: Run fmt
        working-directory: ./windSend-rs
        run: cargo fmt -- --check

      - name: Run tests
        working-directory: ./windSend-rs
        run: cargo test --verbose

  build-aarch64-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: aarch64-pc-windows-msvc

      - name: Build aarch64-pc-windows-msvc
        working-directory: ./windSend-rs
        run: cargo build --target aarch64-pc-windows-msvc --verbose

  build-x86_64-unknown-linux-musl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl

      - name: Install dependencies on Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libxdo-dev libappindicator3-dev 
          sudo apt-get install -y pkg-config libssl-dev build-essential linux-libc-dev
          sudo apt-get install -y musl-dev musl-tools

      - name: Build x86_64-unknown-linux-musl
        working-directory: ./windSend-rs
        run: cargo build --target x86_64-unknown-linux-musl --verbose

      - name: Run tests
        working-directory: ./windSend-rs
        run: cargo test --verbose
